NEXT_PUBLIC_API_URL=

NEXT_PUBLIC_COMPANY_NAME=AM Keramika
NEXT_PUBLIC_COMPANY_ADDRESS= Treće sandžačke brigade br. 1 
NEXT_PUBLIC_COMPANY_CITY= Tutin
NEXT_PUBLIC_COMPANY_PHONE= 063 652222
NEXT_PUBLIC_COMPANY_EMAIL= 
NEXT_PUBLIC_COMPANY_TAX_ID=
NEXT_PUBLIC_COMPANY_REGISTRATION_NUMBER=
NEXT_PUBLIC_COMPANY_BANK_ACCOUNT=
NEXT_PUBLIC_COMPANY_WEBSITE= https://www.amkeramika.com
