DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=
PORT=

JWT_SECRET=
ENABLE_DEVELOPER_BOOTSTRAP=false
INITIAL_DEVELOPER_USERNAME=
INITIAL_DEVELOPER_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
